/* WDD 330 Portfolio */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 20px; 
    line-height: 32px;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px solid #0076B6;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a {
    text-align: center;
    background-color: #0076B6;
    color: whitesmoke;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    font-size: smaller;
}

/* Week 1 */

h3 {
    font-size: 1.1rem;
}

textarea {
    padding: 10px 0;
    width: 800px;
    height: 250px;
    background-color: lightyellow;
}

button {
    padding: 4px;
    margin: 4px;
}

.subnotes {
    font: 0.75rem;
}