/* WDD 330 Portfolio */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 20px; 
    line-height: 32px;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    color: #333;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px solid #808080;
}

header, main, footer {
    padding: 0.5rem;
}

header, footer, footer a {
    text-align: center;
    background-color: #808080;
    color: whitesmoke;
}

p {
    font-size: 16px;
}

footer {
    height: 100px;
    line-height: 80px;
}

main {
    padding: 2opx;
    margin: 20px;
}
.home-img {
  background-image: url('/img/computer1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}


/* Week 1 */

h3 {
    font-size: 22px;
}

textarea {
    padding: 10px 0;
    width: 800px;
    height: 250px;
    background-color: lightyellow;
}

button {
    padding: 4px;
    margin: 4px;
}

.subnotes {
    font-size: 16px;
}

.home-button {
    background-color: #808080;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
}

.header-link {
    text-decoration: none;
    color: white;
}