h1 {
    margin: 20px;
}

.player-notes {
    margin: 20px;
    font-size: 30px; 
}

table, th {
    border: 5px solid black;
}

table {
    width: 500px;
    height: 500px;
    margin: 20px;
    border-collapse: collapse;
}

th:hover {
    background-color: #d3d3d3;
    opacity: 0.80;
}