@font-face {
    font-family: 'aqua_grotesqueregular';
    src: url('../font/aqua-webfont.woff2') format('woff2'),
         url('../font/aqua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 20px; 
    line-height: 32px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'aqua_grotesqueregular', Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

header, footer {
    padding: 0.5rem;
}

header, footer, footer a {
    background-color: #808080;
    color: whitesmoke;
}

header {
    border-bottom: 10px solid #333 ;
}

footer {
    border-top: 10px solid #333 ;
}

header h1 {
    padding: 10px;
    margin: 25px 20px 20px 20px;
    font-stretch: condensed;
}

p {
    font-size: 16px;
    font-family: 'robotoregular', Helvetica, sans-serif;
}

footer {
    height: 100px;
    padding: 10px;
}

footer p {
    font-size: 20px;
    text-align: center;
}

.header-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

main h1 {
    margin: 40px;
}

footer p {
    margin: 0;
}

h2 {
    margin: 20px;
    padding-left: 20px;
    font-size: 3rem;
    text-align: left;
    font-family: 'aqua_grotesqueregular', Helvetica, sans-serif;
}

.single-todo, .lower-section {
    border: solid 1px black;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form input {
    height: 50px;
    width: 450px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'robotoregular', Helvetica, sans-serif;
}

.checklist {
    cursor: pointer;
    font-size: 30px;
    transform: scale(1.5, 1.5);
    background: none;
    border: none;
    margin: 0 10px;
    padding-bottom: 10px;
    color: #333;
}

.remove-button {
    background: #333;
    color: whitesmoke;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    margin: 15px 10px 10px 5px;
    transition: 0.7s;
}

.remove-button:hover {
    background: #808080;
}

.single-todo > label {
    text-align: left;
    font-family: 'robotoregular', Helvetica, sans-serif;
    line-height: 58px;
}

.lower-section > div {
    padding: 10px;
    font-family: 'robotoregular', Helvetica, sans-serif;
    margin: 10px;
}

.lower-section {
    margin: 0 40px;
    background: #808080;
    height: 70px;
    font-family: 'robotoregular', Helvetica, sans-serif;
}

.active {
    border: solid 1px black;
}

.add-tasks-section {
    margin: 40px;
    max-width: 500px;
    font-family: 'robotoregular', Helvetica, sans-serif;
    line-height: 30px;
}

#add-task {
    padding: 10px;
}

#add-button {
    background: #333;
    color: whitesmoke;
    width: 40px;
    font-size: 40px;
    height: 50px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    transform: .7s;
}

#add-button:hover {
    background: #808080;
    color: whitesmoke;
}

.all-task {
    font-weight: 1000;
    color: whitesmoke;
}

.filter-button {
    margin: 10px;
    width: 80px;
    height: 50px;
    color: #333;
}

.done {
    text-decoration: line-through;
}

.single-todo button {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    min-height: 600px;
    padding: 20px 0;
    background-image: url(../img/computer1.jpg);
}

.todo-app {
    background: whitesmoke;
    width: 600px;
    min-height: 500px;
    margin: 50px;
    opacity: .85;
    outline: solid 2px black;
    outline-offset: -15px;
}

.task-list {
    padding-bottom: 30px;
}

/* MOBILE VIEW */

@media only screen and (min-width:300px) and (max-width: 600px) {
  
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    h2 {
        text-align: center;
        padding-left: 0;
        padding-right: 20px;
    }


    footer p {
        font-size: 16px;
    }

}